/*初始設定*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&family=Nunito:ital,wght@0,200;0,300;0,500;0,600;0,700;0,900;1,400;1,500&display=swap');


:root{
    --blue: #71C7D1;
    --orange: #ED6C00;
    --white: #FFFFFF;
    --dark: #0C0D25;
    --box-shadow: 0 8px 24px rgba(0,0,0,0.2);       
}

*{
 font-family: 'Noto Sans TC', sans-serif;
 font-family: 'Nunito', sans-serif;
 margin: 0; padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 outline: none; border: none;
 transition: all .2s linear;
}

html{
    font-size: 65%;
    overflow-x: hidden;
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}

body{
    background-image: url(image/background.png);
    background-repeat: repeat-y;
    background-size: cover;
}



/*Header*/
header{
    position: fixed;
    top: 0; right: 0; left: 0;    
    background-color: var(--dark);
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo img{
    width: 80%;
}

header .logo .lightlogo{
    display: none;
}

header .logo .normallogo{
    position: relative;
    left: 7px;
    top: 6.5px;
}

header .logo:hover .lightlogo{
    display: block;
}
header .logo:hover .normallogo{
    display: none;
}

header .navbar a{
    font-size: 16px;
    color: var(--white);
    padding: 30px;
    border-radius: 8px;
}
header .navbar i{
    font-size: 16px;
    color: var(--white);
    padding: 30px;
    border-radius: 8px;
    font-style: normal;
    cursor: pointer;
}

header .navbar a.active,
header .navbar a:hover{
    background-color: var(--blue);
    color: var(--dark);
    letter-spacing: 2px;
}
header .navbar i.active,
header .navbar i:hover{
    background-color: var(--blue);
    color: var(--dark);
    letter-spacing: 2px;
}

header .icon #menu-bars{
    display: none;
}


/*Home*/
.home .homelogo{
    width: 65%;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0,-50%);
}



/*share*/
.share{
    position: fixed;
    width: 500px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* margin-top: -150px;
    margin-left: -250px; */
    z-index: 10000;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
  }
  
  .share.active{
    display: flex;
  }
  
  .share .share-container{
    text-align: center;
  }
  
  .share h4{
    color: var(--green);
    font-size: 25px;
    font-weight: bolder;
    border-bottom: var(--blue) 1px solid;
    padding-bottom: 10px;
  }
  
  .share .social-media-button i{
    font-size: 50px;
    color: var(--blue);
    margin: 10px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .share .social-media-button i:hover{
    color: var(--orange);
    transform: scale(1.2);
  }
  
  .share .share-container .link-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: var(--blue) solid 1px;
    background-color: #ffffff;
    display: flex;
    padding: 0 5px;
    overflow: hidden;
    align-items: center;
  }
  
  .share .share-container p{
    font-size: 15px;
    width: 90%;
  }
  
  .share .share-container button{
    position: absolute;
    right: 0;
    height: 100%;
    width: 20%;
    background-color: var(--blue);
    color: var(--dark);
    border: none;
    cursor: pointer;
    font-size: 15px;
  }

  .share .share-container button:hover{
    letter-spacing: .2rem;
    background-color: var(--orange);
    color: var(--white);
  }

  .share #close-share{
    position: absolute;
    color:var(--blue);
    font-size: 2.5rem;
    top: 2rem; right: 3rem;
    cursor: pointer;
  }

  .share #close-share:hover{
    color: var(--orange);
    transform: scale(1.2);
  }

/*about*/
.about .intro{
    position: absolute;
    top: 5%;
    left: 25%;
    margin: 50px;
    padding: 0 5%;
    text-align: center;
}

.about .intro img{
    width: 50%;
}

.about .opentime h3{
    color: var(--blue);
    font-size: 25px;
    margin-bottom: 25px;
}

.about .history h3{
    color: var(--blue);
    font-size: 25px;
    margin-bottom: 15px;
}

.about p{
    color: var(--white);
    font-size: 12px;
    line-height: 160%;
}

.about .brief{
    margin-bottom: 35px;
    text-align: start;
}

.about .opentime{
    margin-bottom: 50px;
}

.about .opentime img{
    width: 100%;
}

.about .history p{
    text-align: start;
}



/*map*/
.map .mapimg{
    position: absolute;
    top: 0;
    left: 20%;
    margin: 35px;
    padding: 0 5%;
}

.map .mapimg img{
    width: 100%;
}

/*room*/
.room .roomli{
    position: absolute;
    top: 15%;
    left: 25%;
    margin: 10px 50px 10px 10px;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    overflow-y: scroll;
    scrollbar-width: thin;    
    -webkit-scrollbar: thin var(--blue);     
}

.room .roomli .room1{
    position: relative;
    display: flex;
    background-color: rgba(115,200,210,.25);
    padding: 20px;
    margin-bottom:10px ;
    border-radius: 10px;
    cursor: pointer;
}

.room .roomli .room1:hover{
    background-color: rgba(115,200,210,1);
    transform: scale(1.01);
}

.room .roomli img{
    width: 50%;
    margin-right: 10px;
}

.room .roomli .intro{
    margin-right: 10px;
}

.room .roomli h5{
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
    margin-bottom: 5px;
}

.room .roomli h6{
    font-size: 14px;
    color: var(--white);
    margin-bottom: 5px;
}

.room .roomli p{
    font-size: 12px;
    color: var(--white);
    margin-right: 100px;
}

.room .roomli .price{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: var(--white);
    font-size: 14px;
}

.room .roomli .score{
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--white);
    font-size: 20px;
}

/*food*/
.food .foodintro{
    position: absolute;
    top: 15%;
    left: 25%;
    margin: 10px 50px 10px 10px;
    height: 80%;
    text-align:center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    overflow-y: scroll;
}

.food .foodintro .homelogo{
    width: 50%;
}

.food .foodli{
    padding: 0 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    gap: 25px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}

.food .foodli .food1{
    background-color: rgba(115,200,210,.25);
    width: 100%;
    height: auto;
    overflow-y: initial;
    padding: 15px;
    margin-bottom:20px ;
    border-radius: 10px;
    cursor: pointer;
}   

.food .foodli .food1:hover{
    background-color: rgba(115,200,210,1);
    transform: scale(1.02);
}

.food .foodli img{
    width:100%;
    border-bottom: var(--white) solid 1px;
    padding-bottom: 15px;
}

.food .foodli h5{
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
    margin-bottom: 5px;
}

.food .foodli p{
    font-size: 12px;
    color: var(--white);
    text-align: start;
    padding-top: 5px;
}

/*comment*/
.comment .comment-container{
    position: absolute;
    top: 15%;
    left: 30%;
    margin: 10px 50px 10px 10px;
    height: 80%;
    text-align:center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    overflow-y: scroll;
}

.comment .comment-container .homelogo{
    width: 50%;
}

.comment .comment-container .commentplace{
    background-color: rgba(115,200,210,.25);
    width: 60%;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 15px;
    font-size: 16px;
    color: var(--white);
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.comment .comment-container .commentplace #name{
    background-color:  rgba(255, 255, 255, 0.5);
    width: 50%;
    color: var(--white);
    font-size: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 8px;
}

.comment .comment-container .commentplace #commentbox{
    background-color:  rgba(255, 255, 255, 0.5);
    width: 80%;
    height: 100px;
    color: var(--white);
    font-size: 12px;
    border-radius: 10px;
    padding: 12px;
}

.comment .comment-container .commentplace #name:hover{
    cursor: auto;
    width: 60%;
}
.comment .comment-container .commentplace #commentbox:hover{
    cursor: auto;
    width: 90%;
}

.comment .comment-container .commentli{
    padding: 0 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 25px;
    /* padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}

.comment .comment-container .commentli .comment1{
    background-color: rgba(115,200,210,.25);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}   

.comment .comment-container .commentli .comment1:hover{
    transform: scale(1.02);
}

.comment .comment-container .commentli .comment1 img{
    width:30%;
    padding: 2px;

}

.comment .comment-container .commentli .comment1 .content{
    width: 60%;
}

.comment .comment-container .commentli .comment1 h5{
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
    text-align: start;
    padding-bottom: 2px;
    margin-bottom: 5px;
    border-bottom: var(--white) solid 1px;
}

.comment .comment-container .commentli .comment1 p{
    font-size: 12px;
    color: var(--white);
    text-align: start;
    padding-top: 5px;
}










/*RWD*/
/*920px*/
@media (max-width:920px){
    html{
        font-size: 50%;
    }
    
    /*Header*/
    header .navbar a{
        font-size: 16px;
        color: var(--white);
        padding: 15px;
        border-radius: 5px;
    }
    header .navbar i{
        font-size: 16px;
        color: var(--white);
        padding: 15px;
        border-radius: 5px;
        font-style: normal;
        cursor: pointer;
    }

    header .navbar{
        position: absolute;
        top: 100%;left: 0;right: 0;
        background-color: var(--dark);
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 10px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar a,
    header .navbar i{
        display: block;
        background-color: var(--blue);
        padding: 20px;
        margin: 10px;
        font-size: 20px;
        border-radius: 10px;
    }

    header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
    header .icon #menu-bars{
        display: block;
        background-color: var(--blue);
        padding: 20px;
        margin: 10px;
        font-size: 20px;
        border-radius: 10px;
    }


    /*home*/
    .home .homelogo{
        right: 10%;
    }
    
    /*Share*/
    .share{
        width: 350px;
        height: 210px;
        border-radius: 20px;
        padding: 5px;
    }
    .share h4{
        font-size: 18px;
        padding-bottom: 8px;
    }
    .share .social-media-button i{
        font-size: 40px;
        margin: 8px;
        margin-bottom: 15px;
    }
    .share .share-container .link-box{
        height: 45px;
        border-radius: 15px;
    }
    .share .share-container p{
        font-size: 12px;
    }
    .share .share-container button{
        font-size: 12px;
    }

    /*about*/
    .about .intro{
        left: 20%;
    }

    /*Map*/
    .map .mapimg{
        left: 8%;
        margin: 20px;
        padding: 0 3%;
    }

    /*room*/
    .room .roomli{
        left: 20%;
    }    
    
    .room .roomli .room1{
        display: inline-block;
        text-align: center;
        margin-bottom:15px ;
        padding: 30px;
    }
    .room .roomli img{
        width: 100%;
        margin-bottom:10px ;
        margin-top:20px ;
    }
    .room .roomli .intro{
        margin-right: 0px;
    }
    .room .roomli p{
        font-size: 12px;
        color: var(--white);
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: start;
    }    
    .room .roomli .price{
        position: absolute;
        right: 30px;
        bottom: 10px;
        color: var(--white);
        font-size: 14px;
    }
    .room .roomli .score{
        position: absolute;
        right: 30px;
        top: 12px;
        color: var(--white);
        font-size: 20px;
    }

    /*food*/
    .food .foodintro{
        left: 20%;
    } 
    /*comment*/
    .comment .comment-container{
        left: 20%;
    }
}

/*450px*/
@media (max-width:450px){
    html{
        font-size: 45%;
    }
    
    /*Header*/
    header{
        padding: 12px;
    }
    
    header .navbar a{
        font-size: 16px;
        color: var(--white);
        padding: 15px;
        border-radius: 5px;
    }
    header .navbar i{
        font-size: 16px;
        color: var(--white);
        padding: 15px;
        border-radius: 5px;
        font-style: normal;
        cursor: pointer;
    }

    header .navbar{
        position: absolute;
        top: 100%;left: 0;right: 0;
        background-color: var(--dark);
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 10px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar a,
    header .navbar i{
        display: block;
        background-color: var(--blue);
        padding: 16px;
        margin: 10px;
        font-size: 16px;
        border-radius: 10px;
    }

    header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
    header .icon #menu-bars{
        display: block;
        background-color: var(--blue);
        padding: 12px;
        margin: 10px;
        font-size: 12px;
        border-radius: 6px;
    }

    /*Share*/
    .share{
        width: 300px;
        height: 180px;
        border-radius: 16px;
        padding: 10px;
    }
    .share h4{
        font-size: 16px;
        padding-bottom: 6px;
    }
    .share .social-media-button i{
        font-size: 35px;
        margin: 6px;
        margin-bottom: 12px;
    }
    .share .share-container .link-box{
        height: 40px;
        border-radius: 15px;
    }
    .share .share-container p{
        font-size: 12px;
    }
    .share .share-container button{
        font-size: 12px;
    }

    /*about*/
    .about .intro{
        left: 20%;
        top: 10%;
        margin: 20px;
    }

    .about .intro .homelogo{
        width: 100%;
    }
 
    /*Map*/
    .map .mapimg{
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        padding: 0;
        margin: 0;
    }

    /*room*/
    .room .roomli{
        left: 20%;
        margin: 10px 30px 10px 10px;
    }    
    
    .room .roomli .room1{
        display: inline-block;
        text-align: center;
        margin-bottom:15px ;
        padding: 20px;
    }
    .room .roomli img{
        width: 100%;
        margin-bottom:10px ;
        margin-top:20px ;
    }
    .room .roomli .intro{
        margin-right: 0px;
    }
    .room .roomli h5{
        font-size: 14px;
    }    
    .room .roomli h6{
        font-size: 10px;
    }

    .room .roomli p{
        font-size: 8px;
        color: var(--white);
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: start;
    }    
    .room .roomli .price{
        position: absolute;
        right: 30px;
        bottom: 10px;
        color: var(--white);
        font-size: 12px;
    }
    .room .roomli .score{
        position: absolute;
        right: 30px;
        top: 12px;
        color: var(--white);
        font-size: 18px;
    }

    /*food*/
  
    .food .foodintro{
        left: 20%;
    } 
    .food .foodintro .homelogo{
        width: 100%;
    }
    
    .food .foodli .food1{
        width: 90%;
    }   
    .food .foodli{
        gap: 0px;
    }
    
    
    

    /*comment*/
    .comment .comment-container{
        left: 20%;
    }
    .comment .comment-container .homelogo{
        width: 100%;
    }
    .comment .comment-container .commentplace{ 
        width: 100%;   
        padding: 15px;
    } 
    .comment .comment-container .commentplace #name{
        font-size: 10px;
        padding: 6px;
    }
    
    .comment .comment-container .commentplace #commentbox{
        font-size: 10px;
        padding: 6px;
    }
    .comment .comment-container .commentli{
        padding: 0 1%;
        grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    }    

    .comment .comment-container .commentli .comment1{
        padding: 3% 0;
    }

    .comment .comment-container .commentli .comment1 .content{
        width: 50%;
    }
}
